<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletsTry</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>

               <servlet-name>HelloServletApp</servlet-name> <!-- servlet ismimiz -->

               <servlet-class>helloServlet.HelloServlet</servlet-class> <!-- paketAdi.SinifAdi -->

  </servlet>

  <servlet-mapping>

               <servlet-name>HelloServletApp</servlet-name> <!-- isim ayni olmak zorunda -->

               <url-pattern>/hello</url-pattern> <!-- linkleme yapimiz -->

  </servlet-mapping>
</web-app>